/* variables */
:root{
    --bg-color: 120deg, rgba(148, 148, 148, 0.775), rgba(209, 209, 209, 0.678),  white;
    --form-bg-color: white;
    --hover-color:rgba(128, 128, 128, 0.819) ;
    --border-color: black;
    --text-color: rgb(19, 19, 19);
    --button-bg-color: rgb(193, 193, 193);
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bg-color));
    height: 100vh;
    overflow-y: hidden ;
}
/* form styling */
form{
    border: solid var(--border-color) 1px;
    margin: 10rem auto 3rem auto;
    width: 25%;
    padding: 1rem 2rem;
    background-color: var(--form-bg-color);
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;
}
h2{
    font-size: 2rem;
    text-decoration: underline;
    color: var(--text-color);
}
/* input styling */
input{
    width: 100%;
    border: none;
    border-bottom: solid var(--text-color) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
}
input:hover{
    border-bottom-color:var(--hover-color) ;
}
input:nth-of-type(1){
    margin-top: 1.5rem;
}
#stay-logged{
    margin-top: 1.5rem;
    display: inline;
    width: initial;
    outline: initial;

}
#stay-logged, button:hover, p:hover{
    cursor: pointer;
}
label{
    font-size: 1.1rem;
}
/* submit button styling */
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    border-radius: 15px;
    transition: 300ms;
}
/* forgot password styling */
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: rgb(22, 22, 22);
    transition: 300ms;
}
button:hover{
    background-color: var(--hover-color);
    
}
p:hover{
    color: var(--hover-color);
}

/* phone sized */
@media (max-width: 436px){
    form{
        width: 65%;
    }
}
@media (min-width: 436px) and (max-width: 580px) {
    form{
        width: 50%;
    }
}
@media (min-width: 580px) and (max-width: 874px) {
    form{
        width: 35%
    }
}
