/* variables */
:root{
  --bg-color: 100deg, rgb(4, 93, 125), rgb(18, 148, 247), rgb(97, 191, 245);
  --dot: rgb(255, 7, 177);
}

html *{
padding:0 ;
margin: 0;
}
body{
overflow: hidden;
}
/* backgorund styling */
.loading-screen {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(var(--bg-color));
}
/* loading dot styling */
.dot{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black ;
  margin: 0 0.25rem 0 0.25rem;
  position:relative;
  top: 0%;
  animation: bouncer 1.5s linear infinite;
}
.dot:nth-of-type(2){
  animation-delay: 200ms;
}
.dot:nth-of-type(3){
  animation-delay: 400ms;
}
/* animation */
@keyframes bouncer {
  0%{
    top: 0%
  }
  20%{
    top: 10%
  }50%{
    top: 10%
  }
  100%{
    top:0%
  }
}

/* text styling */
p{
  position:absolute;
  top:65%;
  font-size: 2rem;
  font-family:  Arial, sans-serif;
  font-weight: normal;
}
